-- CONSTRAINTS

--PRIMARY KEYS

ALTER TABLE AUTHORS
ADD CONSTRAINT PK_AUTHOR_ID
PRIMARY KEY (AUTHOR_ID);

ALTER TABLE BOOKS
ADD CONSTRAINT PK_ISBN
PRIMARY KEY (ISBN);

ALTER TABLE COPY
ADD CONSTRAINT PK_COPY_ID
PRIMARY KEY (COPY_ID);

ALTER TABLE USERS
ADD CONSTRAINT PK_USER_ID
PRIMARY KEY (USER_ID);

ALTER TABLE LOANS
ADD CONSTRAINT PK_LOAN_ID
PRIMARY KEY (LOAN_ID);



--FOREIGN KEYS

ALTER TABLE BOOKS
ADD CONSTRAINT FK_BOOKS_AUTHORS_ID
FOREIGN KEY (AUTHOR_ID)
REFERENCES AUTHORS (AUTHOR_ID);

ALTER TABLE COPY
ADD CONSTRAINT FK_COPY_BOOKS_ISBN
FOREIGN KEY (ISBN)
REFERENCES BOOKS (ISBN);

ALTER TABLE LOANS
ADD CONSTRAINT FK_LOANS_USERS_ID
FOREIGN KEY (USER_ID)
REFERENCES USERS (USER_ID);

ALTER TABLE LOANS
ADD CONSTRAINT FK_LOANS_COPY_COPY_ID
FOREIGN KEY (COPY_ID)
REFERENCES COPY(COPY_ID);

ALTER TABLE LOANS
ADD CONSTRAINT FK_LOANS_BOOKS_ISBN
FOREIGN KEY (ISBN)
REFERENCES BOOKS (ISBN);

--UNIQUE KEYS

ALTER TABLE USERS
ADD CONSTRAINT U_EMAIL
UNIQUE(EMAIL);

--CHECK CONSTRAINTS

ALTER TABLE USERS
ADD CONSTRAINT CK_USER_FNAME
CHECK (USER_FNAME = UPPER(USER_FNAME));

ALTER TABLE USERS
ADD CONSTRAINT CK_USER_LNAME
CHECK (USER_LNAME = UPPER(USER_LNAME));

ALTER TABLE USERS
ADD CONSTRAINT CK_USER_GENDER
CHECK (GENDER IN ('F','M','O'));

ALTER TABLE USERS
ADD CONSTRAINT CK_USER_LNAME_NN  
CHECK (USER_LNAME IS NOT NULL);

ALTER TABLE AUTHORS
ADD CONSTRAINT CK_AUTHOR_LNAME
CHECK(AUTHOR_LNAME=UPPER(AUTHOR_LNAME));

ALTER TABLE AUTHORS
ADD CONSTRAINT CK_AUTHOR_FNAME
CHECK(AUTHOR_FNAME=UPPER(AUTHOR_FNAME));

ALTER TABLE AUTHORS
ADD CONSTRAINT CK_AUTHOR_GENDER
CHECK (GENDER IN ('F','M','O'));

ALTER TABLE AUTHORS
ADD CONSTRAINT CK_AUTHOR_LNAME_NN  
CHECK (AUTHOR_LNAME IS NOT NULL);

ALTER TABLE LOANS
ADD CONSTRAINT CK_DOL_NN  
CHECK (DOL IS NOT NULL);

ALTER TABLE BOOKS
ADD CONSTRAINT CK_GENRE
CHECK(GENRE in ('NOVEL','CHILDREN*S','ROMANCE','HISTORY','SCI-FI','ACTION','CLASSICS',
'MYSTERY','POETRY','FANTASY','HORROR','BIOGRAPHIES AND AUTOBIOGRAPHIES','SELF-HELP','ESSAYS'));


-- DEFAULT

ALTER TABLE AUTHORS MODIFY(GENDER  DEFAULT 'F');

ALTER TABLE AUTHORS MODIFY(COUNTRY DEFAULT 'GREECE');


--show everythig
select constraint_name from user_constraints where constraint_name like 'PK%';
select constraint_name from user_constraints where constraint_name like 'FK_%';
select constraint_name from user_constraints where constraint_name like 'CK_%';
select constraint_name from user_constraints where constraint_name like 'U_%';